html {
    font-size: 12px;
    font-family: "Arial", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
}

header {
    background-color: #1f2937;
    border: 1px solid #1f2937;
}

.navbar {
    width: 60%;
    margin: auto;
    margin-block: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    color: #e5e7eb;
}

.company-logo {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
    color: #f9faf8;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.5rem;
}

.navbar a:hover {
    color: #c4c5c9;
}

.hero {
    display: flex;

    margin: 8rem auto;
    width: 60%;
    color: #e5e7eb;
}

.hero_info,
.hero_img {
    flex: 1;
}

.hero_info {
    padding-right: 4rem;
}

.hero_info h1 {
    font-size: 4rem;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.hero_info p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #f9faf8;
}

.hero_info .signup-btn {
    height: 3rem;
    width: 10rem;
}

.hero_img {
    background-color: grey;
}

.hero_img p {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    top: 42%;
}
