html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
}

header {
    background-color: #1f2937;
    border: 1px solid #1f2937;
}

.navbar {
    width: 60%;
    margin: auto;
    margin-block: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #e5e7eb;
}

.company-logo {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
    color: #f9faf8;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.5rem;
}

.navbar a:hover {
    color: #c4c5c9;
}

.hero {
    display: flex;
    gap: 6rem;

    margin: 8rem auto;
    width: 60%;
    color: #e5e7eb;
}

.hero_info,
.hero_img {
    flex: 1;
}

/* .hero_info {
    padding-right: 10rem;
} */

.hero_info h1 {
    font-size: 5rem;
    line-height: 1;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.hero_info p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    color: #f9faf8;
}

.hero_info .signup-btn {
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    border-radius: 1rem;
    cursor: pointer;
}

.hero_info .signup-btn:hover {
    background-color: #3579e6;
}

.hero_img {
    background-color: grey;
}

.hero_img p {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    top: 44%;
}

.info {
    padding: 4rem;
}

.info h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 4rem;
    color: #1f2937;
}

.image-wrapper {
    width: 50%;
    margin: auto;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.example-img {
    border: 5px solid #3882f6;
    border-radius: 1.5rem;
    height: 15rem;
    width: 15rem;
}

.example-img_caption {
    font-size: 1.5rem;
    color: rgb(97, 97, 97);
    position: relative;
    bottom: -15.5rem;
    word-break: break-all;
    text-align: center;
}

.testimonial {
    background-color: #e5e7eb;
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding-block: 11rem 7rem;
}

.testimonial_text {
    width: 35%;
    margin: auto;
}

.testimonial_author {
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
    margin-top: 1rem;
}

footer {
    padding: 3rem;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 1.5rem;
}

.signup {
    color: #f9faf8;
    padding: 8rem;
}

.signup_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem;
    background-color: #3882f6;
    border-radius: 0.5rem;
    width: 50%;
    margin: auto;
}

.signup_text h2 {
    font-size: 2rem;
}

.signup_text p {
    color: #e5e7eb;
    font-size: 1.5rem;
}

.signup_button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.signup_button button {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 0.8rem;
    cursor: pointer;
}

.signup_button button:hover {
    border: 2px solid #c8cace;
}
